<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TO DO LIST</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Space+Mono:ital@1&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="listaTarefas">
        <h1>Lista de Tarefas </h1>
        <ul>
            {% for tarefa in tarefas %}
                <li>{{ tarefa.nome }}
                    <a href="{% url 'updateTarefa' tarefa.id %}"> Editar</a>
                     <a href="{% url 'delete' tarefa.id %}"> Deletar</a>
                     <form method="post" action="{% url 'checkedTarefa' tarefa.id %}">
                        {% csrf_token %}
                        <button type="submit">Check</button>
                    </form>
                </li>
                {% empty %}
                <li>Não existe nenhuma Tarefa ainda!</li>
            {% endfor %}
        </ul>
    </div>
    <div class="createTarefa">
        
                <div class="forms">
                    <h2>Adicione uma nova tarefa!</h2>
                    <form action="{% url 'createTarefa' %}" method="post">
                        {% csrf_token %}
                        <h3>Nome da tarefa:</h3>
                        <input type="text" name="nome">
                        <button type="submit">Criar</button>
                                                
                    </form>
                </div>
                <div class="errorMsg">
                    {% if mensagem_erro %}
                    <p class="text-danger">{{ mensagem_erro }}</p>
                    {% endif %}
            </div>
        </div>
        
        <div class="checkedTarefas">
            <h1>Tarefas Concluídas</h1>
<ul>
    {% for tarefa_concluida in tarefas_concluidas %}
        <li>{{ tarefa_concluida.nome }}</li>
    {% empty %}
        <li>Nenhuma tarefa concluída ainda!</li>
    {% endfor %}
</ul>
</div>
</div>
<style>
body {

background-color: rgb(248, 240, 228);
}
.container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
.checkedTarefas, .listaTarefas {
    margin: 3em;
    height: 400px;
 
    
}
.createTarefas {
    display: flex;
    margin: 3em;
    height: 600px;
}
</style>

</body>
</html>